@use "../../../scss/variables" as vars;

.sidebar {
  &__content {
    border-left: solid 1px vars.$border-color;
    background-color: vars.$dark-background-color;
    width: 100%;
    height: 100%;

    @media (min-width: 1024px) {
      max-width: 300px;
      width: 100%;
    }

    @media (min-width: 1280px) {
      width: 100%;
      max-width: 400px;
    }
  }

  &__requirement-button-container {
    width: 100%;
    display: flex;
  }

  &__requirement-button {
    border: solid 1px vars.$border-color;
    border-left: none;
    border-right: none;
    border-radius: 0;
    width: 100%;
  }

  &__requirement-details {
    padding: vars.$spacing-unit * 2;
    line-height: 22px;
    font-size: 16px;
  }

  &__requirement-details-skeleton {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: vars.$spacing-unit * 2;
  }

  &__achievements-content {
    border-left: solid 1px vars.$border-color;
    background-color: vars.$dark-background-color;
    width: 100%;
    height: 100%;

    @media (min-width: 1024px) {
      max-width: 300px;
      width: 100%;
    }

    @media (min-width: 1280px) {
      width: 100%;
      max-width: 400px;
    }
  }

  &__overlay {
    min-height: 100%;
    inset: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: vars.$spacing-unit;
    color: vars.$muted-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    text-align: center;
  }

  &__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: #{vars.$spacing-unit * 2};
    padding: #{vars.$spacing-unit * 2};
    position: relative;

    &--blurred {
      filter: blur(3px);
    }
  }

  &__list-item {
    display: flex;
    cursor: pointer;
    transition: all ease 0.1s;
    color: vars.$muted-color;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    padding: vars.$spacing-unit;
    gap: #{vars.$spacing-unit * 2};
    align-items: center;
    text-align: left;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
      text-decoration: none;
    }
  }

  &__list-item-image {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    object-fit: cover;

    &--unlocked {
      filter: grayscale(0%);
    }

    &--blurred {
      filter: blur(1px);
    }
  }

  &__stats-section {
    display: flex;
    gap: vars.$spacing-unit;
    padding: vars.$spacing-unit * 2;
    justify-content: space-between;
    transition: max-height ease 0.5s;
    overflow: hidden;

    @media (min-width: 1024px) {
      flex-direction: column;
    }

    @media (min-width: 1280px) {
      flex-direction: row;
    }
  }

  &__stats-category-title {
    font-size: vars.$body-font-size;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: vars.$spacing-unit;
  }

  &__stats-category {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-unit;
  }

  &__subscription-required-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: calc(vars.$spacing-unit / 2);
    color: vars.$warning-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__how-long-to-beat-category {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: linear-gradient(90deg, transparent 20%, rgba(255, 255, 255, 0.2) 100%);
    border-radius: 4px;
    padding: 8px 16px;
    border: solid 1px vars.$border-color;
  }

  &__how-long-to-beat-category-skeleton {
    border: solid 1px vars.$border-color;
    border-radius: 4px;
    height: 76px;
  }

  &__how-long-to-beat-categories-list {
    margin: 0;
    padding: calc(vars.$spacing-unit * 2);
    display: flex;
    flex-direction: column;
    gap: 16px
  }
  
  &__how-long-to-beat-category-label {
    color: vars.$muted-color;
  }
}
