@use "../../../scss/globals.scss";

.delete-review-modal {
  &__karma-warning {
    background-color: rgba(255, 193, 7, 0.1);
    border: 1px solid rgba(255, 193, 7, 0.3);
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 16px;
    color: #ffc107;
    font-size: 14px;
    font-weight: 500;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
