@use "../../../scss/variables" as vars;

.repacks-modal {
  &__repacks {
    display: flex;
    gap: vars.$spacing-unit;
    flex-direction: column;
  }

  &__repack-button {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: vars.$spacing-unit;
    color: vars.$body-color;
    padding: #{vars.$spacing-unit * 2};
  }
}
