@use "../../scss/variables" as vars;

.download-source {
  &__add-source {
    display: flex;
    flex-direction: column;
    gap: #{vars.$spacing-unit};
    min-width: 500px;
  }

  &__validation-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: #{vars.$spacing-unit * 3};
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: #{vars.$spacing-unit / 2};
  }
}
