@use "../../scss/variables" as vars;

.settings-account {
  &__form {
    display: flex;
    flex-direction: column;
    gap: #{vars.$spacing-unit * 3};
  }

  &__blocked-user {
    display: flex;
    min-width: 240px;
    justify-content: space-between;
    align-items: center;
    background-color: vars.$dark-background-color;
    border: 1px solid vars.$border-color;
    border-radius: 4px;
    padding: vars.$spacing-unit;
  }

  &__unblock-button {
    color: vars.$muted-color;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__blocked-users-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: vars.$spacing-unit;
  }

  &__actions {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: #{vars.$spacing-unit};
    margin-top: #{vars.$spacing-unit * 2};
  }

  &__subscription-description {
    display: flex;
    flex-direction: column;
    gap: #{vars.$spacing-unit};
  }

  &__subscription {
    display: flex;
    flex-direction: column;
    gap: #{vars.$spacing-unit * 2};
  }
}
