@use "../../scss/globals.scss";

.settings {
  &__container {
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  &__sidebar {
    width: 240px;
    min-width: 240px;
    margin-right: 12px;
    background-color: globals.$background-color;
    border: solid 1px globals.$border-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: calc(globals.$spacing-unit * 2);
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  &__content {
    background-color: globals.$background-color;
    flex: 1;
    padding: calc(globals.$spacing-unit * 3);
    border: solid 1px globals.$border-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: calc(globals.$spacing-unit * 2);
    display: flex;
    flex-direction: column;
  }

}
