@use "../../scss/variables" as vars;

.settings-real-debrid {
  &__form {
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-unit;
  }

  &__description {
    margin-bottom: #{vars.$spacing-unit * 2};
  }

  &__field-spacing {
    margin-top: #{vars.$spacing-unit};
  }

  &__submit-button {
    align-self: flex-end;
    margin-top: #{vars.$spacing-unit * 2};
  }
}
