@use "../../scss/variables" as vars;

.settings-download-sources {
  &__download-sources {
    padding: 0;
    margin: 0;
    gap: #{vars.$spacing-unit * 2};
    display: flex;
    flex-direction: column;
  }

  &__download-source-item {
    display: flex;
    flex-direction: column;
    background-color: vars.$dark-background-color;
    border-radius: 8px;
    padding: #{vars.$spacing-unit * 2};
    gap: vars.$spacing-unit;
    border: solid 1px vars.$border-color;
    transition: all ease 0.2s;

    &--is-syncing {
      opacity: vars.$disabled-opacity;
    }
  }

  &__download-source-item-header {
    margin-bottom: vars.$spacing-unit;
    display: flex;
    flex-direction: column;
    gap: vars.$spacing-unit;
  }

  &__download-sources-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigate-to-catalogue-button {
    display: flex;
    align-items: center;
    gap: vars.$spacing-unit;
    color: vars.$muted-color;
    text-decoration: underline;
    cursor: pointer;

    &--disabled {
      cursor: default;
      text-decoration: none;
    }
  }
}
