@use "../../scss/globals.scss";

.settings-torbox {
  &__form {
    display: flex;
    flex-direction: column;
    gap: calc(globals.$spacing-unit * 2);
  }

  &__submit-button {
    align-self: flex-end;
    width: 100%;
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-unit;
    align-items: flex-start;
  }

  &__create-account {
    display: flex;
    align-items: center;
    gap: globals.$spacing-unit;
  }
}
