@use "../../scss/globals.scss";

.settings-premiumize {
  &__form {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-unit;
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-unit;
    margin-bottom: calc(globals.$spacing-unit * 2);
    align-items: flex-start;
  }

  &__create-account {
    display: flex;
    align-items: center;
    gap: globals.$spacing-unit;
  }
}
