@use "../../scss/variables" as vars;

.catalogue-home {
  &__categories {
    display: flex;
    gap: vars.$spacing-unit;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: #{vars.$spacing-unit * 3};
    padding: #{vars.$spacing-unit * 3};
    flex: 1;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: #{vars.$spacing-unit * 2};
    transition: all ease 0.2s;
  }
}
