@use "../../scss/globals.scss";

.home {
  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(globals.$spacing-unit * 2);
    padding: 0;
    flex: 1;
    overflow-y: auto;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: calc(globals.$spacing-unit) calc(globals.$spacing-unit * 3);
  }
}
