.select_component {
  position: relative;
  overflow: hidden;
  display: block;
  margin: auto;
  height: 100%;
  border-radius: 8px;
  font-size: 12px;
  box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, 0.5);
}
.select_component > .toggle {
  position: absolute;
  z-index: 4;
  right: 1.5em;
  top: 15px;
  pointer-events: none;
}
.select_component .title,
.select_component .placeholder {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.select_component > input {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  cursor: pointer;
}
.select_component > input:checked ~ .toggle.icon-arrow-down {
  display: none;
}
.select_component > input:checked ~ .toggle.icon-arrow-up {
  display: block;
}
.select_component > input:checked div.options label.option .title {
  display: none !important;
}
.select_component > input:not(:checked) {
  z-index: 4;
}
.select_component > input:not(:checked) ~ label.option > span.title {
  display: none;
}
.select_component > input:not(:checked) ~ .toggle.icon-arrow-up {
  display: none;
}
.select_component > input:not(:checked) ~ .toggle.icon-arrow-down {
  display: block;
}
.select_component > input:disabled {
  cursor: no-drop;
}
.select_component > span.placeholder {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  color: #999;
  border-top: 0px;
}
.select_component label.option {
  display: block;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  transition: all 1s ease-out;
}
.select_component label.option span.title {
  position: relative;
  z-index: 2;
  transition: background 0.3s ease-out;
}
.select_component label.option span.title i.icon {
  padding-right: 8px;
  color: #92a8d1;
}
.select_component label.option span.title:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
}
.select_component label.option input {
  display: none;
}
.select_component label.option input:checked ~ span.title {
  position: absolute;
  display: block;
  z-index: 3;
  top: 0px;
  font-size: 12px;
  border-top: 0px;
  box-shadow: none;
  color: inherit;
  width: 100%;
}
.select_component label.option input:disabled ~ span.title:hover {
  background: none;
  cursor: no-drop;
}
