@use "../../../scss/globals.scss";

.profile-hero {
  &__content-box {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__background {
    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-overlay {
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(135deg, rgb(0 0 0 / 40%), rgb(0 0 0 / 30%));

      &--transparent {
        background: transparent;
      }
    }
  }

  &__copy-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    border: none;
    color: globals.$body-color;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding: calc(globals.$spacing-unit / 1.5);
    border-radius: 6px;
    transition: background-color ease 0.2s;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 0;
    box-sizing: border-box;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &__friend-code {
    font-size: 0.875rem;
    font-family: monospace;
    white-space: nowrap;
  }

  &__user-information {
    display: flex;
    padding: calc(globals.$spacing-unit * 7) calc(globals.$spacing-unit * 3);
    align-items: center;
    gap: calc(globals.$spacing-unit * 2);
  }

  &__avatar-button {
    width: 96px;
    min-width: 96px;
    height: 96px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: globals.$background-color;
    border: solid 1px globals.$border-color;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all ease 0.3s;
    color: globals.$muted-color;
    position: relative;

    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-unit;
    align-items: flex-start;
    color: globals.$muted-color;
    z-index: 1;
    overflow: hidden;
  }

  &__display-name-container {
    display: flex;
    gap: globals.$spacing-unit;
    align-items: center;
  }

  &__display-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-shadow: 0 0 5px rgb(0 0 0 / 40%);
  }

  &__current-game {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: calc(globals.$spacing-unit / 2);
    }

    &-details {
      display: flex;
      flex-direction: row;
      gap: globals.$spacing-unit;
      align-items: center;
    }
  }

  &__hero-panel {
    width: 100%;
    height: 72px;
    min-height: 72px;
    padding: calc(globals.$spacing-unit * 2) calc(globals.$spacing-unit * 3);
    display: flex;
    gap: globals.$spacing-unit;
    justify-content: space-between;
    backdrop-filter: blur(15px);
    border-top: solid 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.3);

    &--transparent {
      background: transparent;
    }
  }

  &__left-actions {
    display: flex;
    gap: globals.$spacing-unit;
  }

  &__actions {
    display: flex;
    gap: globals.$spacing-unit;
    justify-content: flex-end;
    flex: 1;
  }

  &__button {
    &--outline {
      border-color: globals.$body-color;
    }

    &--wrapped {
      background: linear-gradient(
        120deg,
        #2a57ff 0%,
        #2951e6 11%,
        #2f5bff 16%,
        #2c56e8 29%,
        #244acc 34%,
        #2245c2 40%,
        #3a6bff 45%,
        #3766f2 50%,
        #2444b8 56%,
        #122a73 82%,
        #2348b3 86%,
        #1f429e 87%,
        #10286a 93%,
        #0e2a63 100%
      );
      background-color: #2a57ff;
      background-size: 105% 100%;
      background-position: 100% 50%;
      border: none;
      color: white;
      transition: background-position 0.4s ease;

      &:hover {
        background-position: 0% 50%;
      }
    }
  }
}
