@use "../../scss/variables" as vars;

.button {
  padding: vars.$spacing-unit vars.$spacing-unit * 2;
  background-color: vars.$muted-color;
  border-radius: 8px;
  border: solid 1px transparent;
  transition: all ease 0.2s;
  cursor: pointer;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: vars.$spacing-unit;

  &:active {
    opacity: vars.$active-opacity;
  }

  &:disabled {
    opacity: vars.$disabled-opacity;
    cursor: not-allowed;
  }

  &--primary {
    &:hover {
      background-color: #dadbe1;
    }

    &:disabled {
      background-color: vars.$muted-color;
    }
  }

  &--outline {
    background-color: transparent;
    border: solid 1px vars.$border-color;
    color: vars.$muted-color;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:disabled {
      background-color: transparent;
    }
  }

  &--dark {
    background-color: vars.$dark-background-color;
    color: vars.$muted-color;
  }

  &--danger {
    border-color: transparent;
    background-color: vars.$danger-color;
    color: vars.$muted-color;

    &:hover {
      background-color: #b3203f;
    }
  }
}
