@use "../../scss/variables";

.button {
  padding: $spacing-unit $spacing-unit * 2;
  background-color: $muted-color;
  border-radius: 8px;
  border: solid 1px transparent;
  transition: all ease 0.2s;
  cursor: pointer;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-unit;

  &:active {
    opacity: $active-opacity;
  }

  &:disabled {
    opacity: $disabled-opacity;
    cursor: not-allowed;
  }

  &--primary {
    &:hover {
      background-color: #dadbe1;
    }

    &:disabled {
      background-color: $muted-color;
    }
  }

  &--outline {
    background-color: transparent;
    border: solid 1px $border-color;
    color: $muted-color;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:disabled {
      background-color: transparent;
    }
  }

  &--dark {
    background-color: $dark-background-color;
    color: $muted-color;
  }

  &--danger {
    border-color: transparent;
    background-color: $danger-color;
    color: $muted-color;

    &:hover {
      background-color: #b3203f;
    }
  }
}
