@use "../../scss/globals.scss";

.notifications {
  display: flex;
  flex-direction: column;
  gap: calc(globals.$spacing-unit * 2);
  padding: calc(globals.$spacing-unit * 3);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  &__actions {
    display: flex;
    gap: globals.$spacing-unit;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-unit;
  }

  &__empty {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: globals.$spacing-unit;
  }

  &__icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(globals.$spacing-unit * 2);
  }

  &__loading {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__load-more {
    display: flex;
    justify-content: center;
    padding: calc(globals.$spacing-unit * 2);
  }
}
