@use "../../scss/globals.scss";

.notifications {
  display: flex;
  flex-direction: column;
  gap: calc(globals.$spacing-unit * 2);
  padding: calc(globals.$spacing-unit * 3);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  &__actions {
    display: flex;
    gap: globals.$spacing-unit;
    justify-content: flex-end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-unit;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(globals.$spacing-unit * 2);
    padding: calc(globals.$spacing-unit * 6);
    text-align: center;
    color: globals.$body-color;

    &-icon {
      opacity: 0.4;
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
      color: globals.$muted-color;
    }

    &-description {
      font-size: globals.$body-font-size;
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    padding: calc(globals.$spacing-unit * 4);
  }

  &__load-more {
    display: flex;
    justify-content: center;
    padding: calc(globals.$spacing-unit * 2);
  }
}
