@use "../../scss/globals.scss";

.library-filter-options {
  &__container {
    display: flex;
    gap: calc(globals.$spacing-unit);
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
  }

  &__label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
  }

  &__select {
    flex: 0 0 auto;
    width: auto;

    .select-field {
      width: 100%;
    }

    .select-field__option {
      width: 100%;
    }
  }
}
