@use "../../scss/globals.scss";

.library-filter-options {
  &__container {
    display: flex;
    gap: calc(globals.$spacing-unit);
    align-items: center;
    flex-wrap: wrap;
  }

  &__label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
  }

  &__select {
    min-width: 220px;
  }
}
