@use "../../../scss/globals.scss";

.description-header {
  width: calc(100% - calc(globals.$spacing-unit * 2));
  margin: calc(globals.$spacing-unit * 1) auto;
  padding: calc(globals.$spacing-unit * 1.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: globals.$background-color;
  height: 72px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  &__info {
    display: flex;
    gap: globals.$spacing-unit;
    flex-direction: column;
  }
}
