@import "../../scss/variables";

.description-header {
  width: 100%;
  padding: #{$spacing-unit * 2};
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
  height: 72px;

  &__info {
    display: flex;
    gap: $spacing-unit;
    flex-direction: column;
  }
}
