@use "../../scss/variables";

.bottom-panel {
  width: 100%;
  border-top: solid 1px $border-color;
  background-color: $background-color;
  padding: calc($spacing-unit / 2) calc($spacing-unit * 2);
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  justify-content: space-between;
  position: relative;
  z-index: $bottom-panel-z-index;

  &__downloads-button {
    color: $body-color;
    border-bottom: solid 1px transparent;

    &:hover {
      border-bottom: solid 1px $body-color;
      cursor: pointer;
    }
  }
}
