@use "../../scss/variables" as vars;

.bottom-panel {
  width: 100%;
  border-top: solid 1px vars.$border-color;
  background-color: vars.$background-color;
  padding: calc(vars.$spacing-unit / 2) calc(vars.$spacing-unit * 2);
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  justify-content: space-between;
  position: relative;
  z-index: vars.$bottom-panel-z-index;

  &__downloads-button {
    color: vars.$body-color;
    border-bottom: solid 1px transparent;

    &:hover {
      border-bottom: solid 1px vars.$body-color;
      cursor: pointer;
    }
  }
}
