@use "../../scss/variables" as vars;

.text-field-container {
  flex: 1;
  gap: vars.$spacing-unit;
  display: flex;
  flex-direction: column;
}

.text-field {
  display: inline-flex;
  transition: all ease 0.2s;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  border: solid 1px vars.$border-color;
  height: 40px;
  min-height: 40px;

  &__primary {
    background-color: vars.$dark-background-color;
  }

  &__dark {
    background-color: vars.$background-color;
  }

  &__has-error {
    border-color: vars.$danger-color;
  }

  &--focused {
    border-color: vars.$search-border-color-focused;
  }

  &:not(&--focused):hover {
    border-color: vars.$search-border-color-hover;
  }

  &__input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    color: vars.$search-input-color;
    cursor: default;
    font-family: inherit;
    text-overflow: ellipsis;
    padding: vars.$spacing-unit;

    &:focus {
      cursor: text;
    }

    &__read-only {
      text-overflow: inherit;
    }
  }

  &__toggle-password-button {
    cursor: pointer;
    color: vars.$muted-color;
    padding: vars.$spacing-unit;
  }

  &__wrapper {
    display: flex;
    gap: vars.$spacing-unit;
  }

  &__error-label {
    color: vars.$danger-color;
  }
}