@use "../../../scss/globals.scss";

.hero-panel-actions {
  &__action {
    border: solid 1px globals.$muted-color;

    &--disabled {
      opacity: 0.5;
    }

    &--completed {
      background-color: rgba(46, 125, 50, 0.12);
      border-color: rgba(46, 125, 50, 0.25);
      color: #7ecf83;

      &:hover {
        background-color: rgba(46, 125, 50, 0.18);
      }
    }
  }

  &__container {
    display: flex;
    gap: calc(globals.$spacing-unit * 2);
  }

  &__separator {
    width: 1px;
    background-color: globals.$muted-color;
    opacity: 0.2;
  }
}
