@use "../../../scss/variables";

.hero-panel-actions {
  &__action {
    border: solid 1px $muted-color;
  }

  &__actions {
    display: flex;
    gap: #{$spacing-unit * 2};
  }

  &__separator {
    width: 1px;
    background-color: $muted-color;
    opacity: 0.2;
  }
}
