@use "../../scss/variables" as vars;

.editor-header {
  width: 100%;
  height: 36px;
  background-color: vars.$dark-background-color;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 calc(vars.$spacing-unit * 2);
  -webkit-app-region: drag;
}

.editor-header-title {
  font-size: 7px;
  font-weight: 500;
  color: vars.$body-color;
}
