@use "../../scss/globals.scss";

.editor-header {
  width: 100%;
  height: 36px;
  background-color: globals.$dark-background-color;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 calc(globals.$spacing-unit * 2);
  -webkit-app-region: drag;
}

.editor-header-title {
  font-size: 7px;
  font-weight: 500;
  color: globals.$body-color;
  display: flex;
  align-items: center;
  gap: globals.$spacing-unit;
  height: 100%;
}

.editor-header-status {
  width: globals.$spacing-unit;
  height: globals.$spacing-unit;
  background-color: globals.$body-color;
  border-radius: 50%;
  display: inline-flex;
  align-self: center;
}
