@use "../../../scss/globals.scss";

.badges-box {
  &__section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc(globals.$spacing-unit * 2);
  }

  &__box {
    background-color: globals.$background-color;
    border-radius: 4px;
    border: solid 1px globals.$border-color;
    padding: calc(globals.$spacing-unit * 2);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(globals.$spacing-unit * 2);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      transform: scale(1.05);
    }

    img {
      border-radius: 4px;
    }
  }
}
