@use "../../scss/variables" as vars;

.badge {
  color: vars.$muted-color;
  font-size: 10px;
  padding: calc(vars.$spacing-unit / 2) vars.$spacing-unit;
  border: solid 1px vars.$muted-color;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
