@use "../../scss/globals.scss";

.badge {
  color: globals.$muted-color;
  font-size: 10px;
  padding: calc(globals.$spacing-unit / 2) globals.$spacing-unit;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  display: flex;
  gap: 4px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
}
