@use "../../scss/globals.scss";

.badge {
  color: globals.$muted-color;
  font-size: 10px;
  padding: calc(globals.$spacing-unit / 2) globals.$spacing-unit;
  border: solid 1px globals.$muted-color;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  align-items: center;
}
