@use "../../scss/globals.scss";

$toast-height: 80;

.toast {
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  max-height: $toast-height;
  position: fixed;
  background-color: globals.$background-color;
  border-radius: 4px;
  border: solid 1px globals.$border-color;
  right: calc(globals.$spacing-unit * 2);
  //bottom panel height + 16px
  bottom: calc(26 + #{globals.$spacing-unit * 2});
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: globals.$toast-z-index;
  max-width: 500px;
  animation-name: slide-in;
  transform: translateY(0);

  &--closing {
    animation-name: slide-out;
    transform: translateY(calc($toast-height #{globals.$spacing-unit * 2}));
  }

  &__content {
    display: flex;
    gap: calc(globals.$spacing-unit * 2);
    padding: calc(globals.$spacing-unit * 2) calc(globals.$spacing-unit * 2);
    justify-content: center;
    align-items: center;
  }

  &__progress {
    width: 100%;
    height: 5px;
    ::-webkit-progress-bar {
      background-color: globals.$dark-background-color;
    }
    ::-webkit-progress-value {
      background-color: globals.$muted-color;
    }
  }

  &__close-button {
    color: globals.$body-color;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  &__success-icon {
    color: globals.$success-color;
  }

  &__error-icon {
    color: globals.$danger-color;
  }

  &__warning-icon {
    color: globals.$warning-color;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(calc($toast-height #{globals.$spacing-unit * 2}));
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc($toast-height #{globals.$spacing-unit * 2}));
  }
}
