@use "../../scss/variables";

@keyframes slideIn {
  0% {
    transform: translateY(96px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(96px);
  }
}

.toast {
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  max-height: 80px;
  position: fixed;
  background-color: $background-color;
  border-radius: 4px;
  border: solid 1px $border-color;
  right: $spacing-unit * 2;
  bottom: 42px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: $toast-z-index;
  max-width: 500px;

  &--closing {
    animation-name: slideOut;
    transform: translateY(96px);
  }

  &--opening {
    animation-name: slideIn;
    transform: translateY(0);
  }
}

&__content {
  display: flex;
  gap: $spacing-unit * 2;
  padding: $spacing-unit * 2;
  justify-content: center;
  align-items: center;
}

&__progress {
  width: 100%;
  height: 5px;

  &::-webkit-progress-bar {
    background-color: $dark-background-color;
  }

  &::-webkit-progress-value {
    background-color: $muted-color;
  }
}

&__close-button {
  color: $body-color;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

&__icon-container {
  display: flex;
  gap: var(--spacing-unit);
}

&__success-icon {
  color: $success-color;
}

&__error-icon {
  color: $danger-color;
}

&__warning-icon {
  color: $warning-color;
}
