@use "../../scss/variables" as vars;

.delete-game-modal {
  &__actions-buttons-ctn {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: vars.$spacing-unit;
  }
}
