@use "../../scss/variables" as vars;

.downloads {
  &__container {
    display: flex;
    padding: #{vars.$spacing-unit * 3};
    flex-direction: column;
    width: 100%;
  }

  &__groups {
    display: flex;
    gap: #{vars.$spacing-unit * 3};
    flex-direction: column;
  }

  &__arrow-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: #{vars.$spacing-unit * 2};
  }

  &__no-downloads {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: vars.$spacing-unit;
  }
}
