@use "../../scss/variables" as vars;

.auto-update-sub-header {
  border-bottom: solid 1px vars.$body-color;
  padding: calc(vars.$spacing-unit / 2) calc(vars.$spacing-unit * 3);

  &__new-version-link {
    display: flex;
    align-items: center;
    gap: vars.$spacing-unit;
    color: #8e919b;
    font-size: 12px;
  }

  &__new-version-icon {
    color: vars.$success-color;
  }

  &__new-version-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: vars.$spacing-unit;
    color: vars.$body-color;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
