@use "../../scss/variables";

.sidebar {
  background-color: $dark-background-color;
  color: $muted-color;
  flex-direction: column;
  display: flex;
  transition: opacity ease 0.2s;
  border-right: solid 1px $border-color;
  position: relative;
  overflow: hidden;
  padding-top: $spacing-unit;

  &__resizing {
    opacity: $active-opacity;
    pointer-events: none;
  }

  &__darwin {
    padding-top: calc($spacing-unit * 6);
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: calc($spacing-unit * 2);
    gap: calc($spacing-unit * 2);
    width: 100%;
    overflow: auto;
  }

  &__handle {
    width: 5px;
    height: 100%;
    cursor: col-resize;
    position: absolute;
    right: 0;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: calc($spacing-unit / 2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__menu-item {
    transition: all ease 0.1s;
    cursor: pointer;
    text-wrap: nowrap;
    display: flex;
    color: $muted-color;
    border-radius: 4px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }

    &--active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &--muted {
      opacity: $disabled-opacity;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__menu-item-button {
    color: inherit;
    display: flex;
    align-items: center;
    gap: $spacing-unit;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    padding: 9px $spacing-unit;
  }

  &__menu-item-button-label {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__game-icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 4px;
    background-size: cover;
  }

  &__section-title {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__section {
    gap: calc($spacing-unit * 2);
    display: flex;
    flex-direction: column;
    padding-bottom: $spacing-unit;
  }

  &__help-button {
    color: $muted-color;
    padding: $spacing-unit calc($spacing-unit * 2);
    gap: 9px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top: solid 1px $border-color;
    transition: background-color ease 0.1s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  &__help-button-icon {
    background: linear-gradient(0deg, #16b195 50%, #3e62c0 100%);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
  }
}
