.library-focus-grid {
  width: 100%;
  padding: 0 calc(var(--spacing-unit) * 16);
}

.library-focus-grid__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 315px);
  row-gap: calc(var(--spacing-unit) * 16);
  justify-content: space-between;
}

.vertical-library-game-card__action-button {
  pointer-events: none;
}

@media (max-width: 720px) {
  .library-focus-grid {
    padding: 0 calc(var(--spacing-unit) * 6);
  }

  .library-focus-grid__grid {
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    justify-content: initial;
  }
}
