$background-color: #1c1c1c;
$dark-background-color: #151515;

$muted-color: #c0c1c7;
$body-color: #8e919b;

$border-color: rgba(255, 255, 255, 0.15);
$success-color: #1c9749;
$danger-color: #801d1e;
$warning-color: #ffc107;

$disabled-opacity: 0.5;
$active-opacity: 0.7;

$spacing-unit: 8px;

$toast-z-index: 5;
$bottom-panel-z-index: 3;
$title-bar-z-index: 4;
$backdrop-z-index: 4;
$modal-z-index: 5;

$search-width: 200px;
$search-width-focused: 250px;
$search-border-color-focused: #dadbe1;
$search-border-color-hover: rgba(255, 255, 255, 0.5);
$search-input-color: #dadbe1;
$action-button-hover-color: #dadbe1;
$back-button-width: 16px;
$back-button-height: 16px;
$title-transform: translateX(28px);
$title-width: calc(100% - 28px);
$new-version-font-size: 12px;

$body-font-size: 14px;
$small-font-size: 12px;

$app-container: app-container;
