$background-color: #1c1c1c;
$dark-background-color: #151515;

$muted-color: #c0c1c7;
$body-color: #8e919b;

$border-color: rgba(255, 255, 255, 0.15);
$success-color: #1c9749;
$danger-color: #801d1e;
$warning-color: #ffc107;

$disabled-opacity: 0.5;
$active-opacity: 0.7;

$spacing-unit: 8px;

$toast-z-index: 5;
$bottom-panel-z-index: 3;
$title-bar-z-index: 1900000001;
$backdrop-z-index: 4;
$modal-z-index: 5;
