.list-card {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  border-radius: calc(var(--spacing-unit) * 2);
  align-items: center;
  overflow: hidden;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: var(--secondary);
  }

  &__image {
    width: 200px;
    height: 100px;
    border-radius: var(--spacing-unit);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-unit);
    padding: calc(var(--spacing-unit) * 4);
    justify-content: space-between;
    flex: 1;
    height: 100px;

    &:hover &__action {
      opacity: 1;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-unit);

      &__title {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: var(--primary);
        opacity: 0.8;
      }

      &__description {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--primary);
        opacity: 0.5;
      }

      &__sources {
        margin-top: var(--spacing-unit);
        display: flex;
        flex-direction: row;
        gap: calc(var(--spacing-unit) * 2);
      }
    }

    &__action {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.05s ease-in-out;
      margin-right: calc(var(--spacing-unit) * 2);
    }
  }
}
