@import "../../scss/variables";

.select-field {
  display: inline-flex;
  transition: all ease 0.2s;
  width: fit-content;
  align-items: center;
  border-radius: 8px;
  border: 1px solid $border-color;
  height: 40px;
  min-height: 40px;
  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }

  &__focused {
    border-color: #dadbe1;
  }

  &__primary {
    background-color: $dark-background-color;
  }

  &__dark {
    background-color: $background-color;
  }

  &__option {
    background-color: $dark-background-color;
    border-right: 4px solid;
    border-color: transparent;
    border-radius: 8px;
    width: fit-content;
    height: 100%;
    outline: none;
    color: #dadbe1;
    cursor: default;
    font-family: inherit;
    font-size: $body-font-size;
    text-overflow: ellipsis;
    padding: $spacing-unit;
  }

  &__label {
    margin-bottom: $spacing-unit;
    display: block;
    color: $body-color;
  }
}
