.user-profile-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-top: calc(var(--spacing-unit) * 2);
  transition: background-color 0.2s ease-in-out;
  background-color: var(--surface);
  border-top: 1px solid var(--secondary-hover);
  padding: calc(var(--spacing-unit) * 4) calc(var(--spacing-unit) * 3);
  gap: calc(var(--spacing-unit) * 4);
}

.user-profile-content {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-unit) * 3);
  align-self: stretch;

  &__image {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: calc(var(--spacing-unit) * 1.5);
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-unit);

    &__name {
      color: var(--Beta-Text-Main, #cecece);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &__friend-code {
      color: var(--Beta-Text-Secondary, #838383);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: var(--spacing-unit);
      cursor: pointer;

      &:hover {
        .user-profile-content__info__friend-code__icon {
          opacity: 1;
        }
      }

      &__icon {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
}

.user-profile__actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  &__friends {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--spacing-unit) * 2);
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    padding: calc(var(--spacing-unit) * 1) calc(var(--spacing-unit) * 1.5);

    &:hover {
      opacity: 1;
    }

    &__count {
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__count__number {
      font-weight: 600;
    }
  }

  &__notification {
    display: flex;
    color: #fff;
    padding: var(--spacing-unit);
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: var(--spacing-unit);
  }
}
