@use "../../scss/variables" as vars;

.profile-avatar {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$background-color;
  border: solid 1px vars.$border-color;
  cursor: pointer;
  color: vars.$muted-color;
  position: relative;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
  }
}
