@use "../../scss/variables";

.profile-avatar {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  border: solid 1px $border-color;
  cursor: pointer;
  color: $muted-color;
  position: relative;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
  }
}
