@use "../../scss/globals.scss";

.profile {
  &__wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(globals.$spacing-unit * 3);
  }
}
