@use "../../scss/variables";

.cloud-sync-files-modal {
  &__mapping-methods {
    display: grid;
    gap: $spacing-unit;
    grid-template-columns: repeat(2, 1fr);
  }

  &__file-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: $spacing-unit;
    margin-top: #{$spacing-unit * 2};
  }

  &__file-item {
    flex: 1;
    color: $muted-color;
    text-decoration: underline;
    display: flex;
    cursor: pointer;
  }
}
