@use "../../scss/variables" as vars;

.achievement-panel {
  width: 100%;
  padding: #{vars.$spacing-unit * 2} #{vars.$spacing-unit * 3};
  background-color: vars.$background-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: solid 1px vars.$border-color;

  &__content {
    display: flex;
    gap: vars.$spacing-unit;
    justify-content: center;
  }

  &__actions {
    display: flex;
    gap: vars.$spacing-unit;
  }

  &__download-details-row {
    gap: vars.$spacing-unit;
    display: flex;
    color: vars.$body-color;
    align-items: center;
  }

  &__downloads-link {
    color: vars.$body-color;
    text-decoration: underline;
  }

  &__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transition: all ease 0.2s;

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-webkit-progress-value {
      background-color: vars.$muted-color;
    }

    &--disabled {
      opacity: vars.$disabled-opacity;
    }
  }

  &__link {
    text-align: start;
    color: vars.$body-color;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
