@use "../../scss/variables" as vars;

$hero-height: 150px;
$logo-height: 100px;
$logo-max-width: 200px;

.achievements {
  &__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all ease 0.3s;
  }

  &__hero {
    width: 100%;
    height: vars.$hero-height;
    min-height: vars.$hero-height;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all ease 0.2s;
  }

  &__hero-content {
    padding: #{vars.$spacing-unit * 2};
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__game-logo {
    width: vars.$logo-max-width;
    height: vars.$logo-height;
    object-fit: contain;
    transition: all ease 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 1;
  }

  &__table-header {
    width: 100%;
    background-color: vars.$dark-background-color;
    transition: all ease 0.2s;
    border-bottom: solid 1px vars.$border-color;
    position: sticky;
    top: 0;
    z-index: 1;

    &--stuck {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: #{vars.$spacing-unit * 2};
    padding: #{vars.$spacing-unit * 2};
    width: 100%;
    background-color: vars.$background-color;
  }

  &__list-item {
    transition: all ease 0.1s;
    color: vars.$muted-color;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    padding: vars.$spacing-unit;
    gap: #{vars.$spacing-unit * 2};
    align-items: center;
    text-align: left;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
      text-decoration: none;
    }
  }

  &__list-item-image {
    width: 54px;
    height: 54px;
    border-radius: 4px;
    object-fit: cover;

    &--unlocked {
      filter: grayscale(100%);
    }
  }

  &__achievements-progress-bar {
    width: 100%;
    height: 8px;
    transition: all ease 0.2s;

    &::-webkit-progress-bar {
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 4px;
    }

    &::-webkit-progress-value {
      background-color: vars.$muted-color;
      border-radius: 4px;
    }
  }

  &__hero-logo-backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__hero-image-skeleton {
    height: 150px;
  }

  &__hero-panel-skeleton {
    width: 100%;
    padding: #{vars.$spacing-unit * 2};
    display: flex;
    align-items: center;
    background-color: vars.$background-color;
    height: 72px;
    border-bottom: solid 1px vars.$border-color;
  }

  &__list-item-skeleton {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    padding: vars.$spacing-unit;
    gap: #{vars.$spacing-unit * 2};
  }

  &__profile-avatar {
    height: 54px;
    width: 54px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$background-color;
    position: relative;
    object-fit: cover;
  }

  &__profile-avatar-small {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$background-color;
    position: relative;
    object-fit: cover;
  }

  &__subscription-required-button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: #{vars.$spacing-unit / 2};
    color: vars.$body-color;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
